html {
    background-image: url('https://i.pinimg.com/originals/cb/a4/74/cba4748b414b383204e80a992e705a2f.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}