.CSSgame__wrap {
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 150px;
    width: 80%;
    height: 600px;
    border: 3px solid rgb(93, 0, 255);
    background: rgba(167, 138, 255, 0.5);
    backdrop-filter: blur(5px);
    overflow: auto;
    display: none;
}

.search__wrap > h1 > em {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    font-style: normal;

}
.CSSgame__wrap.show {
    display: block;
}
.CSSgame__wrap > .CSSgame__inner {
    text-align: center;
}
/* .search__wrap > .play,.stop {
    margin-top: 10px;
} */
.search__answers > span {
    display: inline-block;
    margin: 10px 5px;
    border: 1px solid;
    padding: 5px 10px;
    color: #fff;
}

.search__wrap > h1 {
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid rgb(198, 164, 255);
    background: rgba(167, 138, 255, 0.5);
    backdrop-filter: blur(5px);
    display: block;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.search__wrap > .desc {
    display: block;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.search__wrap > .play {

    display: none;
}
.search__wrap > .stop {
    display: inline-block;
}

.search__wrap > .time > span {
    font-size: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 10px;
}
.search__result {
    color: #fff;
    border-radius: 20px;
    display: none;
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid rgb(68, 61, 159);
    background: rgba(73, 75, 173, 0.7);
    backdrop-filter: blur(40px);
}
.search__result.show {
    display: block;
}
.search__result .result {
    font-size: 18px;
    margin-bottom: 20px;
}
.restart {
    color: rgba(214, 215, 255, 0.7);
    border: 0;
    border-bottom: 3px solid rgb(68, 61, 159);
    background: rgba(73, 75, 173, 0.7);
    backdrop-filter: blur(40px);
    padding: 10px;
}



label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.search__box > input {
    border-radius: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    padding: 5px 20px;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    margin-bottom: 20px;
}

.search__box > .start {
    color: rgba(228, 228, 255, 0.794);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 300px;
    padding: 10px 20px;
    border-bottom: 3px solid rgb(68, 61, 159);
    background: rgba(73, 75, 173, 0.7);
    backdrop-filter: blur(40px);
}

.search__info {}
.search__info > div {
    margin-top: 80px;
    margin-bottom: 10px;
    color: #fff;
}
.search__info > div + div {
    margin-top: 0;
}

.search__missAnswers > span {
    color: #fff;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #aaa;
    margin: 5px;
}
.search__missAnswers > span:hover {
    background-color: #aaa; 
}