.memory__wrap {
    display: none;
    position: absolute;
    left: 150px;
    top: 80px;
}
.memory__wrap.show {
    display: block;
}
.memory__inner {
    overflow: hidden;
    width: 700px;
    height: 700px;
    border: 3px solid rgb(93, 0, 255);
    background: rgba(167, 138, 255, 0.5);
    backdrop-filter: blur(5px);

    border-radius: 20px;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff, 0 0 1rem rgb(93, 0, 255), inset 0 0 2rem rgb(115, 0, 255), 0 0 4rem rgb(98, 0, 255), inset 0 0 4rem rgb(81, 0, 255);
    }
}

.memory__inner h3 {
    background-color: rgba(167, 138, 255, 0.5);
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid rgba(206, 190, 255, 0.5);
    color: rgb(233, 225, 255);
    text-align: center;
    margin-bottom: 20px;
}
.memory__inner .memory__info {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.memory__inner .memory__info span {
    font-size: 16px;
    padding: 10px;
    color: #fff;
    border-bottom: 2px solid rgb(218 202 255);
}

.memory__wrap > .memory__inner > .memory__card {
    overflow: hidden;
}
.memory__card > .cards {
}
.memory__card > .cards {
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.memory__card > .cards > li {
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100px;
    height: 60px;
    border: 2px solid #ffffff70;
    background-color: rgba(92, 97, 199, 0.5);
    padding: 20px;
    position: relative;
    transition: transform 0.3s;
}
.memory__card > .cards > li:hover {
    transform: scale(1.04);
}
.memory__card > .cards > li.stop {
    user-select: none;
    pointer-events: none;
}
.memory__card > .cards > li > div {
}
.memory__card > .cards > li > div > img {
    width: 100%;
}
.memory__card > .cards > li > .view {
    overflow: hidden;
    position: absolute;
    height: 100%;
    /* padding: 10%; */
    border-radius: 10px;
    transition: all 0.3s;
    top: 7px;
    left: 35px;
    /* transform: translate(-35%, -45%); */
    width: 70%;
    backface-visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.memory__card > .cards > li > .view > img {
    object-position: center;
    width: 70%;
}
.memory__card > .cards > li > .front {
    transform: rotateY(0deg);
}
.memory__card > .cards > li.flip > .front {
    transform: rotateY(180deg);
}
.memory__card > .cards > li > .back {
    /* position: absolute; */
    top: 20px;
    transform: rotateY(-180deg);
}
.memory__card > .cards > li.flip > .back {
    transform: rotateY(0deg);
}

.memory__card > .cards > li.shakeX {
    animation: shakeX 1s 1;
}

.memory__card > .cards > li.ShakeY {
    animation: ShakeY 1s 1;
}

@keyframes shakeX {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shakeY {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}

/* 개인적으로 설정 */
.memory__inner .card__shuffle {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80px;
    color: #fff;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.187);
    padding: 10px;
    font-size: 15px;
    border-bottom: 0;
    transition: background-color 0.3s;
}
.memory__inner .card__shuffle:hover {
    background-color: rgba(67, 42, 114, 0.187);
}
.memory__inner .card__shuffle.stop {
    user-select: none;
    pointer-events: none;
}

.shuffleEx {
    position: absolute;
    top: 125px;
    right: 40px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.75);
}

.memory__inner .mStartBtn {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(86, 68, 141);
    background-color: rgba(255, 255, 255, 0.588);
    margin: 0 auto;
    width: 20%;
    padding: 10px;
    border: 0;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
}
.memory__inner .mStartBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(69, 76, 214);
}
