code {
    font-family: "HBIOS-SYS" !important;
}

pre code.hljs {
    border-radius: 0 !important;
} 

.hljs {
    background-color: #69696986 !important;
}
.source__wrap {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 80%;
    height: 600px;
    border: 3px solid #ffffff;
    background: #ffaebe79;
    backdrop-filter: blur(5px);
    overflow: auto;
    display: none;
}
.source__wrap::-webkit-scrollbar {
    width: 5px;
}
.source__wrap::-webkit-scrollbar-thumb {
    height: 20%;
    background-color: #fff;
}
.source__wrap::-webkit-scrollbar-button:horizontal:decrement {
    width: 5px;
    height: 20%;
    background-color: #fff;
}

.source__wrap.show {
    display: block;
}
.source__wrap > .source__inner {
    width: 100%;
}

.source__header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.source__header > div {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background: #ff89a0;
    backdrop-filter: blur(5px);
    padding: 10px;
}
.source__header > div > h3 > a {
    background: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    margin-left: 10px;
    padding: 5px;
    color: #fff;
}
.source__header > div > .source__close {
    cursor: pointer;
    color: #fff;
}
.source__header > nav {
}
.source__header > nav > ul {
    background: rgb(255, 215, 215);
    padding: 5px 10px;
    display: flex;
    justify-content: start;
}
.source__header > nav > ul > li {
    padding: 0 5px;
    margin-right: 20px;
    cursor: pointer;
    color: #ff89a0;
}
.source__header > nav > ul > li.active {
    background: #ff819a79;
    color: #fff;
}

.source__code {
}

.source__JSCode.show {
    display: block;
}
.source__HTMLCode {
    display: none;
}
.source__HTMLCode.show {
    display: block;
}

.source__CSSCode {
    display: none;
}
.source__CSSCode.show {
    display: block;
}
