/* 웹폰트 */
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
/* 여백 초기화 */
* {
    margin: 0;
    padding: 0;
    font-family: "GmarketSans";
    font-size: 16px;
    line-height: 1.6;
}
/* a 태그 링크 초기화 */
a {
    text-decoration: none;
    color: #444;
}
/* 목록 초기화 */
li {
    list-style: none;
}
/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
/* 모든 페이지 레이아웃 */
body {
    padding: 40px;
}
#header {
    text-align: center;
    border-bottom: 1px dashed #dcdcdc;
    padding-bottom: 40px;
}
#main {
    padding: 40px 0;
    border-bottom: 1px dashed #dcdcdc;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
#footer {
    padding: 40px 0;
    text-align: center;
}
#footer a:hover {
    text-decoration: underline;
}
/* 헤어 영역 */
/* li : block 요소
    a : inline 요소 */
#header h1 a {
    display: inline-block;
    text-transform: uppercase;
    color: #444;
    font-size: 60px;
    font-weight: 700;
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 20px;
}
.header_nav ul li {
    display: inline;
}
.header_nav ul li.active a {
    background-color: #444;
    color: #fff;
}
.header_nav ul li a {
    border-radius: 5px;
    border: 1px solid #444;
    padding: 8px 25px;
    display: inline-block;
    margin-bottom: 7px;
    transition: background-color 0.4s;
}
.header_nav .effect li a {
    border-radius: 40px;
}
.header_nav .effect {
    margin-top: 10px;
}
.header_nav ul li a:hover {
    background-color: #444;
    color: #fff;
}
.header_nav .study {
    margin-top: 10px;
}
.header_nav .study li a {
    border-radius: 50px;
    padding: 6px 30px;
    background-color: #000;
    color: #fff;
}
/* 메인 샘플 */
.main_sample {
    margin-top: 40px;
    border-top: 1px dashed #dcdcdc;
    padding-top: 40px;
}

/* intro */
.intro_menu {
    text-align: center;
    width: 30vw;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background: rgba(255, 187, 214, 0.4);
    padding: 2.5vw;
    border-radius: 1vw;
    color: rgb(174, 37, 110);
}

.intro_menu.white {
    background: rgba(255, 255, 255, 0.1);
}

.intro_menu ul li {
    margin-bottom: 10px;
}
.intro_menu ul li a {
    margin-left: 10px;
    padding: 5px;
    color: rgb(235, 102, 173);
    border-radius: 5px;
}
.main_sample h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.main_sample p {
    margin-bottom: 10px;
    color: #666;
}
.main_sample .result {
    cursor: pointer;
    color: #fff;
    background-color: #444;
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 15px;
    border-radius: 5px;
}
/* sample */
.sample {
    margin-bottom: 80px;
}
.sample .table {
    margin-bottom: 10px;
}

.sample .table.left tr td {
    text-align: left;
}

.sample .table.left tr > td {
    text-align: center;
}

.sample .table table {
    width: 100%;
    border: 1px solid #e6e6e6;
    text-align: center;
}
.sample .table tr th {
    font-weight: normal;
    background-color: #f5f5f5;
    padding: 3px;
}
.sample .table tr td {
    padding: 6px;
    border: 1px solid #e6e6e6;
}
.sample .table table tr td[class*="_P"] {
    color: #fff;
}
.sample .table table tr td[class*="_P"]:hover {
    color: #000;
    cursor: help;
}

.sample .view {
    border: 1px solid #e6e6e6;
    padding: 30px 20px 20px 20px;
    border-radius: 5px;
}

.sample .button {
    border: 1px solid #E6E6E6;
    border-top: 0;
    padding: 20px;
}
.sample .button a {
    border: 1px solid #444;
    color: #444;
    border-radius: 40px;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px;
}

.sample .button a:hover {
    background-color: #444;
    color: #fff;
}

.sample .blue {
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
    color: #fff;
}

.sample .sbox {
    width: 400px;
    height: 200px;
    background-color: #444;
    border: 1px solid #444;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}

.sample .sbox::after {
    content: '';
    width: 480px;
    height: 280px;
    border: 1px dashed #555;
    position: absolute;
    top: -21px;
    left: -21px;
}

.sample .sample.sbox::before {
    content: '';
    width: 398px;
    height: 198px;
    border: 1px dashed #444;
    position: absolute;
    top: 20px;
    left: 20px;
}

.sample .sResult {
    padding-top: 10px;
    text-align: center;
}

.sample .box {
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #666;
}

@media (max-width: 800px) {
    .sample .table {
        overflow-x: scroll;
    }
    .sample .table table {
        width: 780px;
    }
    .sample .table table tr td[class*="_P"] {
        color: #000;
    }
}

/* 티스토리용 문서 */
.document {
    padding-bottom: 100px !important;
}
.document i {
    font-style: normal;
    position: relative;
}
.document i::before {
    content: "";
    background-color: #f1b50252;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
}
.document hr {
    border: 0;
    border-top: 1px dashed #dcdcdc;
    margin-top: 45px;
}
.document .t_tit {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_tit2 {
    font-size: 22px;
    line-height: 1.6;
    margin-top: 50px;
    font-weight: 400;
    margin-bottom: 5px;
}
.document .t_tit3 {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}
.document .t_desc {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px !important;
}
.document .t_desc2 {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px !important;
    padding: 15px 20px !important;
    border-left: 4px solid #f1a902;
    background-color: #f9f9f9;
}
.document .t_box {
    padding: 20px !important;
    background: #f9f9f9;
    margin-bottom: 10px;
    color: #666;
    border-radius: 5px;
}
.document .t_table {
    border: 1px solid #dcdcdc;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.document .t_table tr th {
    background-color: #f9f9f9;
}
.document .t_table tr th,
.document .t_table tr td {
    border: 1px solid #dcdcdc;
    font-weight: normal;
    padding: 8px 10px;
    color: #666;
}
.document .t_table .ce {
    text-align: center;
}
.document .t_iframe {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}
.document .t_iframe iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.document .t_link a {
    display: block;
    width: 200px;
    color: #a34316;
    background-color: #ffd779;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
}
.document .t_link a:hover {
    color: #fff;
    background: #ff5100;
    border-radius: 20px;
}

#javascript__top {
    position: fixed;
    left: 50%;
    bottom: -120px;
    z-index: 10000;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}
#javascript__top.show {
    bottom: 20px;
}
#javascript__top:hover {
    background: #fff;
    color: #000;
}
@media (max-width: 800px) {
    body {
        padding: 20px;
    }
}
